<div class="container" style="margin-top: 1cm;">
    <div>
        <div class="row">
            <div class="col">
                <h1 style="color: white; font-weight: 900; font-size: 1.8cm;">TAKE A LOOK AT YOUR ACCOUNT! OR YOUR FRIENDS'?</h1>
            </div>
            <div class="col">
                <img src="assets/monkey-786858__480.png" alt="" style="margin-left: 6cm; margin-top: 1cm;">
            </div>
        </div>
        <div style="margin-top: -4cm; color: white;">
            <h3 style="font-weight: 900;" >Press buttons to search</h3>
        </div>
    </div>
    <div style=" margin-top: 1cm;">
       <div class="row">
        <div class="col">
            <button style="width: 4cm; height: 0.9cm; background-color: skyblue; font-weight: 200; border-radius: 2cm;" >
                <p style="font-weight: 900;" routerLink="/git-profile">Git Profile </p> 
            </button>
        </div>
        <div class="col">
            <button style="width: 4cm; height: 0.9cm; background-color: skyblue; font-weight: 200; border-radius: 2cm; margin-left: -13cm;" >
                <p style="font-weight: 900;" routerLink="/git-repositories" >Git Repositories </p> 
            </button>
        </div>
       </div>
    </div>

</div>
