<div class="container" style="margin-top: 1cm;">
    <div>
        <div class="row">
            <div class="col">
                <h1 style="color: wheat; font-weight: 900; font-size: 1.8cm;">TAKE A LOOK AT YOUR ACCOUNT! OR YOUR FRIENDS'?
                    ALL YOU HAVE TO DO IS SEARCH!</h1>
            </div>
            <div class="col">
                <img src="assets/monkey-786858__480.png" alt="" style="margin-left: 6cm; margin-top: 1cm;">
            </div>
        </div>
    </div>
    <div style=" margin-top: 0.3cm;">
       <div class="row">
        <div class="col">
            <button style="width: 4cm; height: 0.9cm; background-color: skyblue; font-weight: 200; border-radius: 2cm;" >
                <p style="font-weight: 900;" >Git Profile </p> 
            </button>
        </div>
        <div class="col">
            <button style="width: 4cm; height: 0.9cm; background-color: skyblue; font-weight: 200; border-radius: 2cm; margin-left: -13cm;" >
                <p style="font-weight: 900;" >Git Repositories </p> 
            </button>
        </div>
       </div>
    </div>

</div>
